<% provide(:title, "About") %>
<h1>Twiiter</h1>
<h2>Hello!</h2>

<p>
  Thanks for checking out Twiiter. A lightweight Twitter clone built to
  illustrate some of the awesome features that Ruby on Rails is capable of.
</p>
<p>
  It includes examples of:
</p>
<ul>
  <li>Models</li>
  <li>Views</li>
  <li>Controllers</li>
  <li>Partials</li>
  <li>Templates</li>
  <li>Filters</li>
  <li>Validations</li>
  <li>Callbacks</li>
  <li>Has_many/belongs_to and has_many :through associations</li>
  <li>Testing</li>
  <li>Security</li>
  <li>Deployment</li>
</ul>

<p>
  If you're a technical type, feel free to check out the source code.
</p>

<p>
  If you're any type at all, I'm happy to chat about all of the above and more.
</p>
<p>
  Feel free to send me an email at
  <%= mail_to "augustine.wittkower@gmail.com" %>
   if you have any questions!
</p>
