<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <b>Email: </b> <%= mail_to "augustine.wittkower@gmail.com", "augustine.wittkower@gmail.com" %>
</p>
<p>
  <b>Website: </b> <%= link_to "augustine.io", "http://augustine.io" %>
</p>
<p>
  <b>Github: </b> <%= link_to "github.com/augustine-", "http://github.com/augustine-" %>
</p>
